/* font-family: 'Lora', serif; (400)
font-family: 'Noto Sans', sans-serif; (400)
font-family: 'Ubuntu', sans-serif; (300, 700)*/

/* * {
    border: 1px solid magenta;
} */

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #707070;
    font-size: 1.125rem;
    font-weight: 300;
}

img {
    max-width: 100%;
    display: block;
}



/*  ================
        LAYOUT
    ================ */


header {
    background-color: #F8F8F8;
    padding: 6.5rem 0;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-panel ul {
    display: flex;
    list-style: none;
}

.container-main {
    display: flex;
    justify-content: space-between;
    padding: 4em 0;
}

main {
    width: 70%;
}

aside {
    width: 25%;
}

.featured-post {
    padding-bottom: 2em;
    border-bottom: 1px solid;
    margin-bottom: 2em;
}

.posts {
    margin-bottom: 2em;
}

.post {
    display: flex;
    margin-top: 1.5em;
}

.post-image {
    width: 25%;
    margin-right: 1.5em;
}

.post-text {
    width: 70%;
}

.aside-featured-post,
.aside-posts {
    border: 1.25rem solid #EBEBEB;
    padding: 1em;
}

.aside-featured-post {
    margin-bottom: 2.8em;
}

.aside-post {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #707070;
}

.aside-post:last-child {
    border: none;
    margin-bottom: 0;
}


footer {
    background-color: #143774;
    padding: 3.75rem 0;
    text-align: center;
    color: #fff;
}

/*  ================
        TYPOGRAPHY
    ================ */

h1,
h2,
h3,
h4,
ul {
    margin: 0;
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

ul {
    margin: 0;
    padding: 0;
}

strong {
    font-weight: 700;
}

.link {
    color: #1792D2;
}

.link:hover,
.link:focus {
    color: #143774;
}

.title h1 {
    font-size: 2rem;
}

.title p {
    margin: 0;
    font-size: .75rem;
    color: #1792D2;
    font-weight: 700;
}

.date {
    font-size: .7rem;
    font-family: 'Noto Sans', sans-serif;
    margin: 2em 0;
}

.continue {
    display: block;
    color: #1792D2;
    font-size: .875rem;
    font-weight: 700;
    text-decoration: none;
    /* margin-bottom: 1.5em; */
}

.continue:hover,
.continue:focus {
    text-decoration: underline;
    color: #143774;
}


/*  ================
        NAVIGATION
    ================ */

.nav-panel li {
    margin-left: 2em;;
    font-size: 1rem;
}

.nav-panel a {
    color: #717171;
    text-decoration: none;
    padding:  .25rem 0;
    font-weight: 700;
}

.nav-panel a:hover,
.nav-panel a:focus {
    color: #1792D2;
}

.nav-panel .current-page {
    border-bottom: 1px solid;
}

.nav-panel .current-page:hover,
.nav-panel .current-page:focus {
    color: #717171;
}

/*  ================
        MEDIA
    ================ */

@media (max-width: 960px) {

    header {
        text-align: center;
    }

    .container-nav {
        flex-direction: column;
    }

    .nav-panel {
        margin-top: 2em;
    }

    .nav-panel li {
        margin: 1em;;
    }
}

@media (max-width: 780px) {
    .container-main {
        flex-direction: column;
    }

    main {
        width: 100%;
    }

    aside {
        width: 100%;
    }

    .post {
        flex-direction: column;
    }

    .post-image {
        width: 100%;
    }

    .post-text {
        width: 100%;
    }

    .aside-posts h4 {
        margin-top: 1em;
    }
}


@media (max-width: 450px) {
    .nav-panel ul {
        flex-direction: column;
    }
}